.carousel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;

}

.carousel-content {
  max-width: 45%;
}

.carousel-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.carousel-content a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0067b8;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
}

.carousel-image img {
  width: 600px;
  max-width: 100%;
  border-radius: 8px;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}