/* LLMPage.css */

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Segoe UI", sans-serif;
}

.llm-container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 80px 0px 30px 0px;
}

.sidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 40px;
}

.tab {
    font-size: 18px;
    cursor: pointer;
    color: black;
    transition: 0.2s ease-in-out;
    text-align: start;
}

.tab:hover {
    color: #9fbec1;
}

.tab.active {
    color: #04c4cb;
    font-weight: bold;
}

.content {
    flex: 1;
}

.llm-box {
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 950px;
    text-align: start;
}

.llm-box h2 {
    font-size: 26px;
    color: #03989e;
    margin-bottom: 15px;
}

.llm-box p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 16px;
}

.llm-box h3 {
    color: #03989e;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.llm-box ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.llm-box ul li {
    margin-bottom: 6px;
}

.llm-box ul li::before {
    content: "✔";
    left: 0;
    padding-right: 10px;
    color: #6ba7a9;
    font-weight: bold;
}

.service-image {
    justify-self: center;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.btn {
    background-color: white;
    border: 1px solid black;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    color: black;
    background-color: #16a34a;
}

.cta {
    margin-top: 30px;
    font-size: 18px;
    color: #22c55e;
}

/* ================== Responsive Styles ================== */

@media screen and (max-width: 991px) {
    .llm-container {
        justify-content: center;
        padding: 60px 20px 20px 20px;
        gap: 60px;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        gap: 0px;
    }

    .tab {
        font-size: 18px;
        text-align: center;
        flex: 1;
    }

    .llm-box {
        padding: 20px;
    }

    .llm-box h2 {
        font-size: 24px;
    }

    .llm-box p,
    .llm-box ul li {
        font-size: 15px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}


/* ----------- Mobile View (576px and below) ----------- */
@media screen and (max-width: 576px) {
    .llm-container {
        flex-direction: column;
        padding: 20px 16px;
        gap: 0px;
    }

    .sidebar {
        width: 50%;
        display: flex;
        justify-content: center;
        overflow-y: auto;
        background-color: white;
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tab {
        display: flex;
        flex-direction: column;

        font-size: 15px;
        color: black;
        padding: 10px 0px 0px 130px;
        transition: 0.2s ease-in-out;
        text-align: start;
    }

    .tab.active {
        color: #03989e;
        font-weight: bold;
    }

    .tab:hover {
        color: #10b981;
    }

    .content {
        margin-top: 20px;
        width: 100%;
    }

    .llm-box {
        border: 1px solid #22c55e;
        background-color: white;
        padding: 18px;
        border-radius: 12px;
        color: black;
    }

    .llm-box h2 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 115px;
        padding-right: 110px;
    }

    .llm-box h3 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 115px;
        padding-right: 110px;
    }

    .llm-box p,
    .llm-box ul li {
        font-size: 14px;
        line-height: 1.6;
    }

    .llm-box ul {
        padding-left: 110px;
        margin-top: 10px;
        padding-right: 110px;
    }

    .llm-box ul li::before {
        content: "✔";
        color: #03989e;
        padding-right: 8px;
    }

    .btn {
        width: 25%;
        /* padding: 10px; */
        margin-left: 110px;
        font-size: 14px;
        border-radius: 6px;
        background-color: #ffffff;
        color: black;
        border: 1px solid black;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #16a34a;
    }

    .cta {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
        color: #22c55e;
    }
}